@if (!hero) {
  <mat-grid-list cols="1">
    <mat-grid-tile>
      <mat-spinner></mat-spinner>
    </mat-grid-tile>
  </mat-grid-list>
} @else {
  <div class="grid p-2">
    <div class="col-12 md:col-6">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ hero.superhero }}</mat-card-title>
          <mat-card-subtitle>{{ hero.alter_ego }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="full-screen-avaliable" [src]="hero | heroImage" [alt]="hero.superhero">
        <mat-card-content class="spacer"></mat-card-content>
      </mat-card>
    </div>
    <div class="col-12 md:col-6">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Información</mat-card-title>
          <mat-card-subtitle>{{ hero.superhero }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item>
              <span matListItemTitle>Primera aparición:</span>
              <span matListItemLine>{{ hero.first_appearance }}</span>
            </mat-list-item>
            <mat-list-item>
              <span matListItemTitle>Caracterizaciones:</span>
              <span matListItemLine>{{ hero.characters }}</span>
            </mat-list-item>
            <mat-list-item>
              <span matListItemTitle>Agencia:</span>
              <span matListItemLine>{{ hero.publisher }}</span>
            </mat-list-item>
            <mat-list-item>
              <span matListItemTitle>Última actor:</span>
              <span matListItemLine>{{ hero.alter_ego }}</span>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <span class="spacer"></span>
          <button mat-button mat-raised [routerLink]="['/heroes/list']">
            <mat-icon>back</mat-icon>
            Regresar
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
}
